body
{
    background-color: navajowhite;

}


body h1{
    color: orange;
    display: flex;
    justify-content: center;
    font-family: "Bookman Old Style";
}

.navbar-nav .cris-nav {

    display: flex;
    align-content: space-around;
}

.cris-nav .btn-primary{
    color: white;
    background-color: darkturquoise;
    border-color: darkturquoise;
}

.cris-nav .btn-secondary{
    color: white;
    background-color: darkturquoise;
    border-color: darkturquoise;
}

.cris-nav .btn-tertiary{
    color: white;
    background-color: darkturquoise;
    border-color: darkturquoise;
}

.carousel-inner{
    text-align: -moz-center;

}

.container .quetal{
    background-color: navajowhite;
    border: 1px solid #000;
}

.container .hola{
    background-color: navajowhite;
    border: 1px solid #000;
}
.container .adios{
    background-color: navajowhite;
    border: 1px solid #000;
}



